/*************************************
---   CUSTOM STYLESHEET  ---
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black        #000
- white        #fff
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body {
    font-family: "MS PGothic", "Osaka", Arial, sans-serif;
}

.reset {margin:0; padding:0;}

.align_right    { text-align:right;}
.align_left     { text-align:left;}
.align_center   { text-align:center;}
.align_justify  { text-align:justify;}

/* 角の丸いリンクボタン */
a.btn_round {
    position: relative;
    display: inline-block;
    text-decoration: none;
    border: none;
    height: 25px;
    color: #fff;
    background: transparent url(../images/btn_act.gif) no-repeat 0px 0px;
    margin: 3px 10px 3px 0px;
    padding: 0px 0px 0px 10px;
}
a.btn_round span {
    _position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    white-space: nowrap;
    color: #fff;
    background: transparent url(../images/btn_act.gif) no-repeat 100% 0px;
    margin: 0px -10px 0px 0px;
    padding: 0px 10px 0px 0px;
}
a.btn_round:hover {
    color: #eef;
    background: transparent url(../images/btn_sel.gif) no-repeat 0px 0px;
}
a.btn_round:hover span {
    color: #eef;
    background: transparent url(../images/btn_sel.gif) no-repeat 100% 0px;
}

/* ページングスタイル */
.pagination {
    display:block;
    text-align:left;
    height:22px;
    line-height:21px;
    clear:both;
    padding-top:3px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
}

.pagination a:link, .pagination a:visited{
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #9ACD32;
    margin-left:10px;
    text-decoration:none;
    background-color:#FFE;
    color:#56731C;
    width:22px;
    font-weight:normal;
}

.pagination a:hover {
    background-color:#D6EBB0;
    border:1px solid #9ACD32;
    color:#56731C;    
}

.pagination .actived {
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #9ACD32;
    margin-left:10px;
    text-decoration:none;
    background-color:#D6EBB0;
    color:#56731C;
    cursor:default;
}

.pagination .disabled {
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #9ACD32;
    margin-left:10px;
    text-decoration:none;
    background-color:#F5F5F5;
    color:#D7D7D7;
    cursor:default;
}

label.input-error {color: red; margin: 0 5px;}
input.input-error {border: 1px solid red;}

/**************************************/
/*              HEADER                */
/**************************************/
#header {position:relative;}

#userinfo {
    text-align:right;
    font-size:14px;
}

/**************************************/
/*             NAVIGATION             */
/**************************************/
#topmenu { background: #34AB36; height:46px; margin:9px 0; border-radius: 5px; }
#topmenu ul { list-style-type: none; padding-top:8px; }

#topmenu ul li { float:left; display:inline; margin-left:9px; }
#topmenu ul li a { font-weight: bold; display:block; height:26px; line-height:25px; padding:0 6px; border:2px solid #fff; color:#fff; text-decoration:none; border-radius: 5px; }

#topmenu ul li a:hover,
#topmenu ul li a.active { border:2px solid #64E565; color:#64E565; }

#topmenu li.rightitem { float:right; margin-right:9px; }

.sidebar {padding:15px 10px 0 10px; background:#ccc;}
.sidebar .box {line-height: 20px !important;}

.submenu {
    border: 5px solid #75C814;
    border-radius: 5px;
    background: #E7FCC0;
    padding: 10px;
    /* position: absolute; */
}

.submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.submenu ul li a {
    background: url(../images/arrow-green.png) no-repeat scroll left center transparent;
    color: #34AB36;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding-left: 18px;
    text-align: left;
    text-decoration: none;
}

.submenu ul li a:hover,
.submenu ul li a.active {
    background: url(../images/arrow-green2.png) no-repeat scroll left center transparent;
    color: #7DDF30;
    font-weight: bold;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#content img {padding:5px; border:1px solid #ccc; background:#efefef;}
.featured-image {margin:18px auto; display:block;}

#flash_msg {font-weight: bold; text-align: center;}

.title {
    background: none repeat scroll 0 0 #EEE;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 20px;
    margin-bottom: 10px;
}


/**************************************/
/*               FORM                 */
/**************************************/

/**************************************/
/*               FOOTER               */
/**************************************/
#footer {border-top:1px solid #34AB36; padding:10px 0 0 0; margin:32px 0 0 0;}
#footer-nav {width:100%; text-align:center; list-style:none;}
#footer-nav li {display:inline; margin:0 10px 0;}

#copyright {width:100%; text-align:center;}