@charset "UTF-8";

/*--------[Base]---------*/

/*
 0. Reset
*/
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
object, iframe, pre, code, p, blockquote,
form, fieldset, legend,
table, th, td, caption, tbody, tfoot, thead,
article, aside, figure, footer, header,
hgroup, menu, nav, section, audio, video, canvas {
	margin: 0;
	padding: 0;
}
article, aside, figure, figcaption, footer,
header, hgroup, menu, nav, section {
	display: block;
}

/*
 1. HTML, Body, Anchor
*/
html {
	-webkit-text-size-adjust: none;
}
body {
	font-family:verdana,arial,helvetica;
	font-size: 16px;
	line-height: 1.5;
	background: #C5CCD3 url(../images/stripes.png);
}
a {
	color: #333;
	-webkit-tap-highlight-color: rgba(00,33,99,0.3);
}

/*
 2. Headings
*/
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

/*
 3. Lists
*/
li {
	list-style: none;
}

/*
 4. Tables
*/
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}
caption, th, td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

/*
 5. Forms
*/
fieldset {
	border: none;
}
input, textarea, select, label {
	font-size: 100%;
	vertical-align: middle;
}
textarea {
	overflow: auto;
}

/*
 6. Others
*/
img {
	border: none;
	vertical-align: middle;
}
em, strong {
	font-weight: bold;
	font-style: normal;
}
mark {
	font-weight: bold;
}
object {
	vertical-align: middle;
	outline: none;
}
blockquote, q {
	quotes: none;
}
q:before, q:after {
	content: '';
}
code {
	font-family: monospace;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
abbr, acronym {
	border: none;
	font-variant: normal;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted #333;
	cursor: help;
}
address, caption, cite, code, dfn, var {
	font-weight: normal;
	font-style: normal;
}
hr {
	display: none;
}
pre {
	font-family: monospace;
}

/*--------[Layout]---------*/

/*
 0. Base Layout
*/

/*
 1. Header
*/
body > header {
	background:#6D84A2;
	border-bottom:1px solid #666666;
	margin-top: 0;
	padding: 2px;
	text-align:center;
	color: #FFF;
}
body > header h1 {
	font-size: 20px;
}
body > header a {
	color: #FFF;
}

.titlebar {
	background:#6D84A2;
	text-align:center;
	color: #FFF;
}

/*
 2. Content
*/
#content {
	clear: both;
}

/*
 3. Footer
*/
body > footer {
	clear: both;
	padding: 0 5px;
	/*border: 5px solid #ccc;*/
	text-align: center;
}

/* Navigation
----------- */
a.right_arrow {
	background: url(../images/arrow.png) no-repeat right center;
}
a.left_arrow {
	background: url(../images/ati-arrow.png) no-repeat left center;
}

body > footer nav {
	background: #FFF;
	margin-bottom: 10px;
	border: 3px solid #ccc;
}
body > footer nav:after {
	content : '';
	display : block;
	clear : both;
}
body > footer nav span {
	float: left;
	width: 33.3%;
}
body > footer nav span:first-child {
	width: 33.4%;
}
body > footer nav a {
	display: block;
	padding: 10px 0;
	border-left: 1px solid #ccc;
	text-decoration: none;
}
body > footer nav span:first-child a {
	border-left: 0;
}

/* Copyright
----------- */
body > footer .copyright {
	font-size: 14px;
}

/*--------[Module]---------*/

/*
 1. Common Elements
*/
.rounded {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.gradient {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAPoAgMAAABi2HzNAAAACVBMVEX///8AAAD///9+749PAAAAA3RSTlNKABp6GTWyAAAAG0lEQVQ4y2NgGAWjYBQMe9DA4DAKR+EoHN4QADPrfUELgUpCAAAAAElFTkSuQmCC);
	background-position: center;
}

.toolbar {
	background-color: #778CA8;
	height: 48px;
}
.button {
	display: inline;
	background-color: #4a6C9b;
	color: white;
	padding: 5px 10px;
	margin: 5px;
	float: left;
	border: 1px solid #246;
}
.button:hover {
	background-color: #246;
}
.center {
	text-align: center;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}

/* Title
----------- */

/* Text
----------- */
.textbox {
	background: #FFF;
	background: white;
	border: 1px solid #aaa;
	margin: 5px;
	padding: 10px;
}

/* List
----------- */
.listbox {
	clear: both;
	background: white;
	border: 1px solid #aaa;
	margin: 5px;
	font-size: 11px;
}

.listbox li {
	clear: both;
	list-style: none;
	border-top: 1px solid #aaa;
	padding-left: 0; 
	font-weight: bold; 
	padding: 10px;
}

.listbox li.bookitem {
	height: 150px;
}

.listbox li:first-child {
	border-top: 0;
}
.listbox a {
	display: block;
	padding: 10px;
	color: #333;
	text-decoration: none;
	background: url(../images/arrow.png) no-repeat right center;
}
.listbox a.prev {
	padding-left: 40px;
	background: url(../images/ati-arrow.png) no-repeat left center;
}

.listbox img {float:left; padding:5px; border:1px solid #ccc; background:#efefef; margin:0 20px 10px 0;}

/* Form
----------- */
input[type="text"],
input[type="password"],
input[type="email"] {
	width: 95%;
	margin-bottom: 5px;
	padding: 10px 5px;
}
input[type="password"] {
	width: 50%;
}

/*
 2. Common Module
*/

/*
 90. Others
*/

/* Hidden */
.hidden {
	display:none;
}

/* Floaty Message */
.topalert {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	padding: 5px 0;
	border-top: 1px solid #f00;
	border-bottom: 1px solid #f00;
	background: #fcc;
	color: #f00;
	line-height: 1.2;
	text-align: center;
	opacity: 0.7;
}

/*
 99. Clearfix
*/
.group:after {
	content : '';
	display : block;
	clear : both;
}

/*
	Custom Style
*/
/* Round Button */
a.btn_round {
	position: relative;
	display: inline-block;
	text-decoration: none;
	border: none;
	height: 25px;
	color: #fff;
	background: transparent url(../images/btn_act.gif) no-repeat 0px 0px;
	margin: 3px 10px 3px 0px;
	padding: 0px 0px 0px 10px;
}
a.btn_round span {
	_position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 25px;
	white-space: nowrap;
	color: #fff;
	background: transparent url(../images/btn_act.gif) no-repeat 100% 0px;
	margin: 0px -10px 0px 0px;
	padding: 0px 10px 0px 0px;
}
a.btn_round:hover {
	color: #eef;
	background: transparent url(../images/btn_sel.gif) no-repeat 0px 0px;
}
a.btn_round:hover span {
	color: #eef;
	background: transparent url(../images/btn_sel.gif) no-repeat 100% 0px;
}

