<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {$this->headMeta()}
    {$this->headTitle()}
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
    <!--[if IE]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/css/blueprint/plugins/link-icons/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection">
    {$this->headLink()}
    {$this->headScript()}
</head>
<body class="reset">
<div id="wrap" class="container">
    <div id="header" class="span-24 last">
        <a href="/"><img src="/images/header.gif" alt="サイトLogo画像" /></a>
    </div>
    <div id="left_sidebar" class="span-5 sidebar">
        <div id="top-block" class="box">
            ・<a href="/" title="TOPページ">TOPページ</a>
        </div>
        {* フリーワード検索 *}
        {include file='../partials/free_word_search.html'}
        {* ユーザー情報 *}
        {include file='../partials/sidebar_user_info.html'}
        {* マイアカウント *}
        {include file='../partials/sidebar_my_account.html'}
        {* 共通リンク *}
        {include file='../partials/sidebar_site_links.html'}
    </div>
    <div id="content" class="span-13">
        {if isset($flashMsg)}
            <div id="flash_msg" class="info">{$flashMsg}</div>
        {/if}
        {assign var=layout value=$this->layout()}
        {$layout->content}
    </div>
    <div id="rignt_sidebar" class="span-5 sidebar last">
        {if $this->params.controller == 'dummy'}
            {* Dummy ブロック（サンプル用） *}
            {include file='../scripts/dummy/sidebar_dummy.html'}
        {elseif $this->params.controller == 'contentsdetails' && $this->params.action == 'detail'}
            {* カート（右側） *}
            {include file='../partials/sidebar_cart_box.html'}
        {/if}
    </div>
    <div id="footer" class="clear span-24 last">
        <div id="copyright">Copyright(c) Company Name.</div>
    </div>
</div>
</body>
</html>

