<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	{$this->headMeta()}
	{$this->headTitle()}
	<link rel="stylesheet" href="{$smarty.const.REWRITE_BASE}/css/foundation.css" />
	{$this->headLink()}
	<script src="{$smarty.const.REWRITE_BASE}/js/vendor/custom.modernizr.js"></script>
	{$this->headScript()}

</head>
<body>

	<div class="row">
		<div class="large-12 columns">
			<a href="{$smarty.const.REWRITE_BASE}/"><img src="{$smarty.const.REWRITE_BASE}/img/site-logo.gif" alt="サイトLogo画像" /></a>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="large-3 columns">
			{* フリーワード検索 *}
			{include file='../partials/sidebar_search_box.html'}
			{* ユーザー情報 *}
			{include file='../partials/sidebar_user_info.html'}
			{* 共通リンク *}
			{include file='../partials/sidebar_site_links.html'}
		</div>
		<div class="large-9 columns">
			{if $this->flashMsg}
				<div id="flash_msg" class="panel">{$this->flashMsg}</div>
			{/if}
			{assign var=layout value=$this->layout()}
			{$layout->content}
		</div>
	</div>

	<footer class="row">
		<div class="large-12 columns">
			<hr />
			{include file='../partials/site_footer.html'}
		</div>
	</footer>

	<script src="{$smarty.const.REWRITE_BASE}/js/foundation.min.js"></script>
	<!--

	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.alerts.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.clearing.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.cookie.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.dropdown.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.forms.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.joyride.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.magellan.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.orbit.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.reveal.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.section.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.tooltips.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.topbar.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.interchange.js"></script>
	<script src="{$smarty.const.REWRITE_BASE}//js/foundation.placeholder.js"></script>

	-->
	<script>
		$(document).foundation();
	</script>
</body>
</html>
