<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>エラー</title>
    <style type="text/css">
        pre,code {
            margin: 1.5em 0;
            white-space: pre;
            background: #EEE;
            font: 0.8em 'andale mono', 'lucida console', monospace;
            line-height: 1.5;
        }
    </style>
</head>
<body>

{assign var=layout value=$this->layout()}
{$layout->content}

</body>
</html>

