<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {$this->headMeta()}
    {$this->headTitle()}
    <meta name="author" content="Tenda">
    {$this->headLink()}
    {$this->headScript()}
</head>
<body class="reset">
<div id="wrap" class="container">
    <div id="content" class="span-23 last">
        {if $this->flashMsg}
            <div id="flash_msg" class="info">{$this->flashMsg}</div>
        {/if}
        {assign var=layout value=$this->layout()}
        {$layout->content}
    </div>
    <div id="footer" class="clear span-24 last">
        <div id="copyright">Copyright(c) Company Name.</div>
    </div>
</div>
</body>
</html>

