<div id="menu" align="center" >
    <img src="/images/publishersface2.png">

    <ul style="text-align: center;" >
        <li>「御社名 or サイト」ショップカスタマイズ部</li>
    </ul>

    <ul>
        <li>・<a href="/admin/Contents/" target="_top">コンテンツ検索</a></li>
        <li>　ショップで扱っているコンテンツを検索します。またコンテンツごとにキーワードを検索できます。</li>
    </ul>
    <ul>
        <li>・<a href="/admin/Pickup/" target="_top">ピックアップ枠コンテンツ編集</a></li>
        <li>　トップページなどピックアップ枠に表示するコンテンツを編集します。コンテンツの指定はBookIDで行います。</li>
    </ul>
    <ul>
        <li>・<a href="/admin/Freetext/" target="_top">フリーテキスト編集</a></li>
        <li>　コンテンツにひもづかないテキストを編集します。サイト構築時にテンプレートにフリーテキスト枠を埋め込んでおく必要が</li>
        <li>　あります。フリーテキストは管理が大変なので、できるだけ使わないようにしましょう。</li>
    </ul>
    <ul>
        <li>・<a href="/admin/" target="_top">本番サーバーのショップDB・ファイル更新</a></li>
        <li>　本番サーバーのショップが検証サーバーと同じ内容に更新されます。</li>
    </ul>
</div>

<br><br>
