{literal}
<script type="text/javascript">
$(document).ready(function() {
    $('#login_form').validate({
        errorClass: 'input-error'
    });
});
</script>
{/literal}
<div class="span-8 prepend-2">
    <form id="login_form" action="/admin/auth/login" method="post">
    <fieldset>
        <legend>管理者 Login</legend>
        <p>
            <label for="admin_user_nm" class="required">管理者ID:</label>
            <input type="text" name="admin_user_nm" id="admin_user_nm" class="required" style="width:150px;" maxlength="20" value="{$params.admin_user_nm}" />
        </p>

        <p>
            <label for="admin_user_pwd" class="required">パスワード:</label>
            <input type="password" name="admin_user_pwd" id="admin_user_pwd" class="required" style="width:150px;" maxlength="20" value="{$params.admin_user_pwd}" />
        </p>
        <div class="prepend-3">
            <input type="submit" value="ログイン">
        </div>
    </fieldset>
    </form>
{if $this->error_msg}
<label class="input-error">
    {$this->error_msg}
</label>
{/if}
</div>
