<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {$this->headMeta()}
    {$this->headTitle()}
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
    <!--[if IE]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/css/blueprint/plugins/link-icons/screen.css" type="text/css" media="screen, projection">
    {$this->headLink()}
    <link rel="stylesheet" href="/css/admin.css" type="text/css" media="screen, projection">
    {$this->headScript()}
</head>

<body class="reset">
<div id="wrap" class="container">
{include file='../partials/admin_header.html'}
    <div id="left_sidebar" class="span-5 sidebar">
        <div id="top-block" class="box">
            ・<a href="/admin/">TOPページ</a><br />
            ・<a href="/admin/griddemo/demo1">Gridデモ1</a><br />
            ・<a href="/admin/griddemo/demo2">Gridデモ2</a><br />
            ・<a href="/">サイトへ</a>
        </div>
        {* ユーザー情報 *}
        {include file='../partials/sidebar_user_info.html'}
    </div>
    <div id="content" class="span-18 last">
        {if $this->flashMsg}
            <div id="flash_msg" class="info">{$this->flashMsg}</div>
        {/if}
        {assign var=layout value=$this->layout()}
        {$layout->content}
    </div>
{include file='../partials/admin_footer.html'}
</div>
</body>
</html>

