/**************************************/
/*        jqGrid customize            */
/**************************************/
.jqgrow  img {
    background: transpant;
    border: 0px;
    margin: 4px;
}

.ui-widget table {
    border: none !important;
}

.ui-widget table tbody tr:nth-child(even),
.ui-widget table thead, 
.ui-widget table tfoot {
    background-color: transparent !important;
}

.ui-jqgrid .ui-pg-div {
    font-size: 1.2em !important;
}

.ui-jqgrid .ui-icon {
    margin-top: -4px !important;
}

.ui-jqgrid-pager input {
    display: inline-block !important;
    width: auto !important;
    height: 13px !important;
}
