SetEnv APPLICATION_ENV development
SetEnv REWRITE_BASE /y_denkiweb

RewriteEngine on
RewriteBase /y_denkiweb

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s

RewriteRule . index.php
