SetEnv APPLICATION_ENV development
# SetEnv REWRITE_BASE /subdir

RewriteEngine on
# RewriteBase /subdir

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s

RewriteRule . index.php
