{literal}
<script>
$(document).ready(function() {
    var totalSize = 0;
    var seqNo = 0;
    function randStr() {
        seqNo++;
        return (new Date()).getTime() + '' + seqNo;
    }
    function convertSize(size) {
        if(!size) {
            return '0 Bytes';
        }
        var sizeNames = [' Bytes', ' KB', ' MB', ' GB', ' TB', ' PB', ' EB', ' ZB', ' YB'];
        var i = Math.floor(Math.log(size)/Math.log(1024));
        return (size/Math.pow(1024, Math.floor(i))).toFixed(2)+" "+sizeNames[i];
    }
    function loadMore() {
        $('#loading').show();
        $.get('{/literal}{$smarty.const.REWRITE_BASE}{literal}/dummy/booklist', function(itemList) {
            $('#loading').hide();
            for(var i=0, len=itemList.length; i<len; i++) {
                var item = itemList[i];
                $('#booklist').append('<li class="bookitem"><img src="{/literal}{$smarty.const.REWRITE_BASE}{literal}/' + item.image + '?' + randStr() + '" />' + item.text + '</li>');
                totalSize += item.size;
            }
            $('#totalsize').html(convertSize(totalSize));
        }, 'json');
    }
    $('#morebooks').click(function() {
        loadMore();
    });

    $('#loading').hide();
    loadMore();
});
</script>
{/literal}
<ul id="booklist" class="listbox rounded">
</ul>

<a name="more" />
<div id="loading" class="center">
    <img src="{$smarty.const.REWRITE_BASE}/images/ajax-loader2.gif" />
</div>
<h2>総サイズ: <span id="totalsize">0 Bytes</span></h2>
<div class="center">
    <a id="morebooks" class="btn_round" href="#more"><span style="width:200px;">もと見る</span></a>
</div>
