<h4>Dummyメニュー</h4>
<ul class="disc">
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/top" title="">CRUDテスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/jstest" title="">Jsテスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/smartytest" title="">Smartyテスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/helpertest" title="">Helperテスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/logtest" title="">Logテスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/cachetest" title="">キャッシュテスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/forwardtest" title="">Forwardテスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/rendertest" title="">Renderテスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/transactiontest" title="">トランザクションテスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/mailtest" title="">メール送信テスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/soaptest" title="">Soap通信テスト</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/soapwsdl" title="">Soap通信テスト（WSDL）</a></li>
    <li><a href="{$smarty.const.REWRITE_BASE}/dummy/uploadtest" title="">アップロードテスト</a></li>
</ul>
