<div id="dummy-box" class="box sidebar-note">
    <h3>Dummy用メニュー</h3>
    ・<a href="/dummy/test" title="">通常テスト</a><br />
    ・<a href="/dummy/smartytest" title="">Smartyテスト</a><br />
    ・<a href="/dummy/logtest" title="">Logテスト</a><br />
    ・<a href="/dummy/cachetest" title="">キャッシュテスト</a><br />
    ・<a href="/dummy/forwardtest" title="">Forwardテスト</a><br />
    ・<a href="/dummy/rendertest" title="">Renderテスト</a><br />
    ・<a href="/dummy/transactiontest" title="">トランザクションテスト</a><br />
    ・<a href="/dummy/mailtest" title="">メール送信テスト</a><br />
    ・<a href="/dummy/soaptest" title="">Soap通信テスト</a><br />
    ・<a href="/dummy/soapwsdl" title="">Soap通信テスト（WSDL）</a><br />
    ・<a href="/dummy/uploadtest" title="">アップロードテスト</a><br />
</div>
