<div id="dummy-box" class="box sidebar-note">
    <h3>Dummy用メニュー</h3>
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/top" title="">CRUDテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/jstest" title="">Jsテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/smartytest" title="">Smartyテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/helpertest" title="">Helperテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/logtest" title="">Logテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/cachetest" title="">キャッシュテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/forwardtest" title="">Forwardテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/rendertest" title="">Renderテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/transactiontest" title="">トランザクションテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/mailtest" title="">メール送信テスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/soaptest" title="">Soap通信テスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/soapwsdl" title="">Soap通信テスト（WSDL）</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/uploadtest" title="">アップロードテスト</a><br />
    ・<a href="{$smarty.const.REWRITE_BASE}/dummy/loadmore" title="">「もっと見る」サンプル</a><br />
</div>
