{include file='scripts/dummy/topmsg_dummy.html'}
<p>サンプル用Dummyデータです。</p>
{$paginator}
<table>
    <tr>
        <th>カラム1</th>
        <th>カラム2</th>
        <th>操作</th>
    </tr>
{foreach key=i item=row from=$paginator}
    <tr>
        <td>{$row->inf1|escape}</td>
        <td>{$row->inf2|escape}</td>
        <td>
        <a href="/dummy/edit/id/{$row->id}">変更</a>&nbsp;
        <a href="/dummy/delete/id/{$row->id}">削除</a>
        </td>
    </tr>
{/foreach}
</table>
<a href="/dummy/edit">追加</a>
<br />
<br />
{$paginator}
