<ul class="side-nav">
	<li><a href="{$smarty.const.REWRITE_BASE}/admin/">管理画面へ</a></li>
	<li class="divider"></li>
	<li><a href="">マイ本棚</a><li>
	<li><a href="">基本情報確認・変更</a><li>
	<li><a href="">購入履歴・再ダウンロード</a><li>
	<li class="divider"></li>
	<li><a href="">始めてご利用の方へ</a></li>
	<li><a href="">購入方法について</a></li>
	<li><a href="">FAQ（よくある質問）</a></li>
	<li><a href="">著作権について</a></li>
	<li><a href="">価格体系について</a></li>
	<li><a href="">ファイルフォーマットについて</a></li>
	<li><a href="">お問い合わせ</a> </li>
	<li class="divider"></li>
	<li><a href="javascript:history.back();">戻る</a></li>
</ul>
